body, html{
    height: 100vh;
}

body{
    display: grid;
    overflow-x: hidden;
    
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

nav{
    background-color: blueviolet;
    grid-area: header;
}

main{
    background-color: blue;
    grid-area: content;
}

footer{
    background-color: aqua;
    grid-area: footer;
}