*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    
}
/* Хидэр и панель навигации */
header{
    display: flex;
    height: 10vh;
    overflow: hidden;
    min-height: 100px;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: rgba(38, 134, 130, 0.6);
    z-index: 3;
}

nav{
    height: 100%;
    
}

.nav-list{
    padding-left: 1.5rem;
    height: 100%;   
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 35px;
}
.nav-list>li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

li>a:hover{
    color:black;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    transition: 0.2s;
}

.contact_info{
    display: flex;
    margin-left: auto;
    color: white;
    padding-right: 30px;
    font-size: 1.2rem;
}
/* Заглавная часть страницы */
.Main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background:url(img/217374.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

.Main::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

.Main>img{
    width: 15rem;
    
    z-index: 2;
}

.Main>p{
    color: white;
    z-index: 2;
    margin-top: 60px;
    font-size: 1.4rem;
    text-align: center;
}

.main_title{
    width: 100%;
    overflow: hidden;
    font-size:3rem;
    color:white;
    max-width: 40ch;
    line-height: 80px;
    text-align: center;
    z-index: 2;
}
/* Вторая часть главной страницы */
.second-part_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 190vh;
    background-color: white;
}

.second-part_content>h1{
    margin-top: 25px;
    color: rgba(38, 134, 130);
    font-size: 3rem;
}

.text_part{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10rem;
    width: 800px;
    background-color: white;
}

.info>h1{
    letter-spacing: 3px;
    font-size: 2.3rem;
    text-align: center;
    color: rgba(38, 134, 130);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    font-size: 1.2rem;
    text-align:justify;
}

.text_part>img{
   width: 600px; 
   margin-left: 5rem;   
}

.second_headliner{
    color: rgba(38, 134, 130);
    font-size: 3rem;
}

.our_service{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.service_info_block{
    display: flex;
    align-items: flex-start;
    margin-top: 10rem;
    
    width: 100%;
    height: 600px;
}

.service_info_block>img{
    height: 600px;
    margin-left: 10rem;
    width: 700px;
}

.list_of_service{
    display: grid;  
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    width: 800px;
    height: 100%;
}

.list_of_service>p{
    display: grid;
    align-items:flex-end;
    width: 150px;
    height: 150px;
    background-color:rgba(38, 134, 130);
}