*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

header{
    display: flex;
    min-height: 10vh;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.Main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:url(img/217374.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.Main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }

.main_title{
    font-size:3rem;
    color:white;
    max-width: 30ch;
    line-height: 80px;
    text-align: center;
    z-index: 2;
}